.mainCal {
  position: relative;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  margin: 0;
  z-index: 0;
  border: 1px solid rgba(0, 0, 0, 0.292);
  height: 300px;
  border-radius: 5px;
  box-sizing: border-box;
}
.small {
  width: 300px;
}
.mainCal h3 {
  user-select: none;
  width: 230px;
}
.mainCal button {
  width: 40px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainCalDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calGrid {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.day {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.278);
}
.today {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #73d8f7;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.278);
}
.start {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #73d8f7;
  border-radius: 5px 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.278);
}
.eventStart {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f7877347;
  z-index: 1;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.278);
}
.eventPopup {
  position: absolute;
  z-index: 20;
  padding: 5px;
  top: -80px;
  padding-top: 0px;
  transform: translateX(-50%);
  width: 160px;
  height: 120px;
  background-color: #f6ddd8e7;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.278);
}
.eventPopupButton {
  width: 100% !important;
  height: 20px;
  background-color: #f75a5a;
  border: 1px solid rgba(0, 0, 0, 0.278);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
}
.eventHide {
  position: relative;
  opacity: 0;
  z-index: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity 0.5s;
}
.eventShow {
  position: absolute;
  z-index: 1;
  opacity: 1;
  user-select: none;
  pointer-events: auto;
  transition: opacity 0.5s;
}
.eventDot {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f75a5a;
  margin: 1px;
  padding: 0;
  z-index: 0;
}
.middle {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #73d8f7;
  border: 1px solid rgba(0, 0, 0, 0.278);
}
.end {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #73d8f7;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.278);
}
.dayLabel {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 0.9rem;
  color: #959595;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.day:hover {
  user-select: none;
  background-color: #f75a5a;
}
