.mainDash {
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: flex-start;
  border: 1px solid black;
  margin: 0 auto;
  font-family: Graphik Meetup, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica, Arial, sans-serif;
}
.content {
  margin-top: 2rem;
  display: grid;
  width: 100%;
  margin: 10px;
  grid-gap: 1rem;
  grid-template-columns: 0.4fr 1fr;
}
